@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: skyblue;
        margin: 0;
        padding: 0;
    }

    header {
        text-align: center;
        background-color: #333;
        color: white;
        padding: 20px 0;
    }

    }
</style>
<h1>
    About Us
</h1>

<p>
This static page is meant for showing customer, the items that are sold in the games shop called Elite Games. This website as it is static 
<br />
can not lead you to buying options. And there are still a lot of items to be added to make it like a real one.
</p>



