@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: skyblue;
        margin: 0;
        padding: 0;
    }

    header {
        text-align: center;
        background-color: #333;
        color: white;
        padding: 20px 0;
    }
}
</style>
<h1>@ViewData["Title"]
<br />
<br />
    
</h1>

<p>The store is located at Level 6, 8 Quay Street, Haymarket.
    <br />
    You can contact at any time on the given number. <br />
    0123456789
</p>



